@font-face {
  font-family: 'gumi-icons';
  src:  url('../webfonts/gumi-icons.eot');
  src:  url('../webfonts/gumi-icons.eot') format('embedded-opentype'),
    url('../webfonts/gumi-icons.ttf') format('truetype'),
    url('../webfonts/gumi-icons.woff') format('woff'),
    url('../webfonts/gumi-icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
  [class^="gumi-"], [class*=" gumi-"] {
    font-family: 'gumi-icons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 1.33333em;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .gumi-forklift:before {
    content: "\e900";
  }
  .gumi-hanger:before {
    content: "\e901";
  }
  .gumi-safe:before {
    content: "\e902";
  }
  .gumi-sliding-door-closet:before {
    content: "\e903";
  }
  .gumi-test-tube-v1_1:before {
    content: "\e904";
  }
  .gumi-van:before {
    content: "\e905";
  }
  .gumi-wardrobe:before {
    content: "\e906";
  }
  .gumi-lab:before {
    content: "\e9aa";
  }
  
